#upper-body{
    background-color: #363A3E;
    width: 1280px;
    height: 400px;
}
#lower-body{
    background-color: white;
    width: 1280px;
    height: 400px;
}
.lower{
    margin-top: 100px;
    margin-left: 90px;
    height: 23px;
    color: #363A3E;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;

}
.lower2{
    margin-left: 90px;
    height: 47px;
    width: 237px;
    color: #363A3E;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
#view{
  height: 14px;
  width: 136px;
  color: #363A3E;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  margin-left: 1084px;
  margin-top: 24px;    

}
.result{
    width: 237px;
    height: 78;
}
h1{
    height: 35px;
    width: 99.8px;
    margin-left: 60px;
    padding-top: 40px;
    color: white;
}
.headline {
  height: 47px;
  width: 570px;
  color: #FFF;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 47px;
  margin-left: 60px;    
  margin-top: 124px;    
}
.box-background {
  height: 128px;
  width: 905px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
  margin-top: 90px;    
  margin-left: 60px;     
}
#box{
    display: inline-block;
}
div label{
    display: block;
}
.background {
  height: 40px;
  width: 200px;
  border-radius: 8px;
  background-color: rgba(54,58,62,0.08);
  border: none;    
}
.first{
    padding-left: 40px;
    padding-top: 28px;
    padding-bottom: 36px;
}
.second{
    padding-left: 24px;
    padding-top: 28px;
    padding-bottom: 36px;
}
.third{
    width: 12px;
    height: 12px;
    padding-left: 16px;
    padding-top: 67px;
    padding-bottom: 49px;
}
.fourth{
    padding-left: 44px;
    padding-top: 28px;
    padding-bottom: 36px;
}
.fifth{
    padding-left: 40px;
    padding-top: 52px;
    padding-bottom: 36px;

}
.name1 {
  height: 14px;
  width: 43px;
  color: #363A3E;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}
.name2 {
  height: 14px;
  width: 28px;
  color: #363A3E;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}
.name3 {
  height: 14px;
  width: 14px;
  color: #363A3E;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}

.button-background {
  height: 40px;
  width: 117px;
  border-radius: 8px;
  background-color: #FF4F54;
  color: white;
  font-family: Roboto; 
  font-size: 16px;
  font-weight: 700;
  line-height: 19px; 
  border: none;
}
.arrow-left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  box-sizing: border-box;
  height: 4px;
  width: 12px;
  border: 2px solid #FF4F54;
}
.arrow-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;    
  box-sizing: border-box;
  height: 4px;
  width: 12px;
  border: 2px solid #FF4F54;
  transform: rotate(180deg);
}
