#home-body{
    background: url(imgs/photo-1579546929518-9e396f3cc809.jpg) no-repeat fixed center;
    background-size: cover;
}
#home-container{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "hd d sd sd"
        "h rd rd rd";
}
.home-box{
    display: flex;
}
#home-menu{
    grid-area: hd;
    height: 100%;
}
#home-menu button{
    width: 100%;
    height: 20%;
    margin-top: 10px;
    margin-left: -10%;
    background-color: #08acae;
    color:  white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#home-menu button:hover{
    background-color: #021533;
}
#home-menu button:active{
    transform: translateY(4px);
}
#home-photo{
    grid-area: sd;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    border-radius:50%; 
    background-image: url(imgs/ali.jpeg);
    background-size: cover;
    margin-left: 10%;
    margin-top: 50px;
    
}








